body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #2b1055, #7597de);
    color: white;
    padding: 20px;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}

.menu-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.cta {
    display: flex;
    align-items: center;
    padding: 11px 33px;
    font-size: 25px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
}

.cta:hover {
    box-shadow: 10px 10px 0 #7597de;
}

.span {
    transform: skewX(15deg);
}

.second {
    margin-left: 20px;
    font-size: 25px;
}

form {
    margin-top: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    background: #1e1e1e;
    color: white;
}

table,
th,
td {
    border: 2px solid black;
}

th {
    background: #1e58f7;
    color: white;
}

td,
th {
    padding: 10px;
}

footer {
    margin-top: auto;
    background: linear-gradient(to right, black, rgb(13, 13, 100));
    color: white;
    padding: 15px;
}

/* BOTÃO VOLTAR */

.btn-voltar {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn-voltar:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: white;
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-voltar:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: white;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.logo-ceep {
    width: 220px;
    margin-top: 15px;
    border-radius: 15px;
}

.descricao {
    font-size: 18px;
    margin-top: 15px;
}

.explicacao {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.explicacao h2 {
    color: #6225e6;
}

.explicacao h3 {
    margin-top: 30px;
}

.explicacao {
    background: #1e1e1e;
    color: white;
}

input {
    background: #2a2a2a;
    color: white;
    border: 1px solid #555;
}

.btn-voltar {
    background: #1e1e1e;
    color: white;
}

select,
textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #555;
    background: #2a2a2a;
    color: white;
    font-family: 'Poppins', sans-serif;
}